
<div>
    <form method="post">
        <input type="text" name="username" value="" />
        <input type="password" name="password" value="" />
        <input type="submit" name="submit" />
    </form>
</div>
