
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>翔天龙狂魔</title>
    </head>
    <body>
        <div id="app"></div>
        <script src="~/dist/bundle.js"></script>
    </body>
    </html>
